before_script:
  - pip install -r requirements.txt


stages:
  - lint
  - dvc
  - api_test


variables:
  DB_ACCESS_KEY: $ACCESS_KEY_ID
  DB_SECRET_ACCESS_KEY: $SECRET_ACCESS_KEY


lint:
  stage: lint
  image: python:3.8
  script:
    - pip install flake8
    - flake8 .
  allow_failure: true
  only:
    - merge_requests

dvc:
  stage: dvc
  image: python:3.8
  script:
    - dvc pull
    - dvc repro
  only:
    - merge_requests

unit_test:
  stage: api_test
  image: python:3.8
  script:
    - pytest ./tests/unit
  dependencies:
    - dvc
  only:
    - merge_requests
